include License.txt
include README.md
recursive-include erpnext_mobile *.html
recursive-include erpnext_mobile *.txt
recursive-include erpnext_mobile *.js
recursive-include erpnext_mobile *.css
recursive-include erpnext_mobile *.png
recursive-include erpnext_mobile *.html
recursive-include erpnext_mobile *.md
recursive-include erpnext_mobile *.pdf
recursive-include erpnext_mobile *.json
